{% extends "base.html" %}
{% load static %}

{% block title %}Каталог книг{% endblock %}
{% block content %}
    <div class="container">
        <div class="header">
            <h1><a href="/books">Каталог</a></h1>
        </div>
        <div class="row">
            {% for book in books %}
            <div class="book col-md-4">
            <h2>{{ book.name }}</h2>
            <p>Автор: {{ book.author }}</p>
            <p>Дата публикации: {{ book.pub_date|date:"Y-m-d" }}</p>
            </div>
            {% endfor %}
        </div>
        <p> _________ </p>
        <div>
        {% if prev_data %}
        <a href="{% url 'books_date' prev_data %}"> < {{ prev_data|date:"Y-m-d" }} &nbsp</a>
        {% endif %}
        {% if next_data %}
        <a href="{% url 'books_date' next_data %}"> &nbsp{{ next_data|date:"Y-m-d"  }} > </a>
        {% endif %}
        </div>

    </div>
{% endblock %}

